body{
    font-family: 'TT Lakes';
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #F8F8F8;
}

.app-main{
    min-height: 100vh;
    max-width: 1650px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
}

img{
    max-width: 100%;
    height: 100%;
}

p{
    margin-top: 0;
}

h1{
    margin: 0;
    padding: 0;
    font-size: 28px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

.app-header{
    position: fixed;
    z-index: 100;
    right: 0;
    top: 0;
    left: 0;
    background: #fff;
}

.app-header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: relative;
    z-index: -1;
}

.app-header__inner:after{
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: #D9FFF5;
}

.app-header__block{
    display: flex;
    align-items: center;
}

.app-header__block.left{
    display: none;
}

.header-burger{
    position: relative;
    z-index: 1;
    margin-right: 15px;
}

.header-burger__lines{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16px;
}

.header-burger__line{
    position: relative;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    opacity: 1;
    transition: transform .3s,opacity .15s ease-in-out,background-color .3s;
}

.header-burger__line.top{
    width: 18px;
}
.header-burger__line.mid{
    width: 10px;
}
.header-burger__line.bot{
    width: 14px;
}


.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ff3e79;
    transition: .4s ease all;
    cursor: pointer;
}

.icon{
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: inherit;
    width: 24px;
    height: 24px;
    transition: .3s ease all;
}

.btn-2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid #FF3E79;
    transition: .4s ease all;
    cursor: pointer;
}

.button:hover{
    background-color: #FFE0E9;
}

.icon:hover{
    color: #ff3e79;
    fill: #ff3e79;
}

.app-header__separator{
    height: 32px;
    width: 2px;
    background-color: #EAEAEA;
    margin: 0 20px;
}

.app-header__separator.none{
    display: none;
}

.app-header__item{
    margin-left: 15px;
}

.app-header__item:first-child{
    margin-left: 0;
}

.content{
    max-width: 100%;
    width: 100%;
}


.content-wrapper{
    padding: 118px 15px 0 15px;
}

.services-title{
    position: relative;
    z-index: 1;
    line-height: 40px;
}

.services-title:after{
    content: '';
    position: absolute;
    z-index: -1;
    left: -15px;
    top: 0;
    width: 4px;
    height: 40px;
    background: #41F6D7;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.services-nav__items{
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
}

.services-nav{
    padding: 24px 0 20px 0;
}

.services-nav__item{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    background-color: unset;
    border: 2px solid transparent;
    border-radius: 6px;
    transition: .4s ease all;
    font-weight: 500;
    color: #7E7E82;
    white-space: nowrap;
}

.services-nav__item.active{
    border: 2px solid #B8FFEC;
    background-color: #fff;
}

.services-nav__item:hover{
    background-color: #fff;
    border: 2px solid #B8FFEC;
}

.services-nav__items li{
    display: inline-flex;
    height: 40px;
}

.services-button__more{
    display: inline-flex;
    align-items: center;
    color: #1B1C21;
}

#more{
    display: none;
}

.services-img{
    margin-top: 15px;
}

.services-items{
    display: none;
}



@media only screen and (min-width: 576px){
    .app-header__separator.none{
        display: inline-flex;
    }
    
    .header-burger{
        margin-right: 0;
    }
    
    .app-header__block.left{
        display: flex;
    }

    
}

@media only screen and (min-width: 768px){
    .app-header{
        display: none;
    }
    
    .services-nav__items{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .services-img{
        margin-top: 0;
    }
    
    .content-block__services.bottom{
        display: flex;
    }
    
    .services-items,
    .services-head{
        display: flex;
        align-items: center;
    }
    
    
    


@media only screen and (min-width: 768px){
    
    .content-wrapper{
        padding: 32px;
    }
    
    .services-title:after{
        left: -32px;
    }
    
    .services-block{
        width: 50%;
        margin-right: 15px;
    }
    
    .services-img{
        width: 50%;
        border-radius: 6px;
        background: url("../img/services-img.jpg") no-repeat center center;
        background-size: cover;
    }
    .services-img img{
        opacity: 0;
    }
    
    .services-title{
        flex: 1 0 auto;
    }
    

    .services-item{
        display: inline-flex;
        align-items: center;
        margin-left: 20px;
    }

    .services-item:first-child{
        margin-left: 0;
    }

    .services-item__text{
        color: #1B1C21;
        font-size: 16px;
        margin-right: 10px;
    }


    
    
}